.news {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-grow: inherit;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
    align-content: center
}

.articleButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
  }

  .news {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
  }